.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    background-color: var(--bs-dark);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.container{
    background-color: transparent;
}
a{
    text-decoration: none;
}